/*--------------------------------------------------------------
# Header Search Bar
--------------------------------------------------------------*/
.search-bar {
  min-width: 250px;
  padding: 0 20px;
}

@media (max-width: 1199px) {
  .search-bar {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: #fff;
    min-width: 0;
  }
}

.search-form {
  width: 100%;
}

.search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 8px 15px;
  border-radius: 30px;
}

.search-form input:focus,
.search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px rgba(1, 41, 112, 0.1);
}

.search-form button {
  border: 0;
  background: none;
  padding: 0;
  margin-left: -30px;
  transition: 0.3s;
  color: rgba(1, 41, 112, 0.5);
}

.search-form button i {
  font-size: 16px;
}