@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html, body, #root,
.app,
.content{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: #f4f6fa;
}
.app {
    display: flex;
   position: relative;  
}
::-webkit-scrollbar {
    width: 10px;
}
/* track*/
webkit-scrollbar-track {
    background: #e0e0e0; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0c0c0; 

}
::-webkit-scrollbar-track:hover {
    background: #a0a0a0;  
}
